/*
 description Emulador de una terminal y varias máquinas en red usando Javascript
 description Componente - Estilos CSS
 author Julián Esteban Gutiérrez Posada y Carlos Eduardo Gomez Montoya
 email jugutier@uniquindio.edu.co carloseg@uniquindio.edu.co
 licence GNU General Public License  Ver. 4.0 (GNU GPL v4)
 date Septiembre 2020
 version 1.0
*/

.alert {
    border-radius: 25px;
    border: 2px solid #337E99;
    padding: 20px;
    height: 150px;
    width:40%;
    background-color: #337E99;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    transition: width 1s;
  }
  .alert:hover {
    width:50%;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
h1  {
    margin: 0;
    text-align: center;
    padding: 0.1em 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2EDE4;
}

#consola {
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px; 
    height: 300px;   
    overflow:auto; 
    background-color: #000000;
    color: #00FF00;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block; 
    text-align: left; 
    width:77%;
    font-size: 12px;
    font-weight: bold;
}


input {
    border: none;
    outline: none;
    background-color: #000000;
    color: #00FF00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F2EDE4;
}
